<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.curry.toolt">

    <application
            android:name="com.curry.toolt.base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/toolt"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/toolt"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.SelectFuncActivity"
                android:exported="true"/>
        <activity
                android:name="com.curry.toolt.base.TopToolbarActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.ThemeActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.AllFunctionsActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.AboutActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.SettingActivity"
                android:exported="true"/>
        <activity
                android:name="com.curry.toolt.base.BaseActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>